{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="bg-primary_black min-h-screen py-20 md:py-32 flex-col flex items-center" style="background-image: url('{% static 'assets/background_netflix.jpg' %}');">
  <div class="flex flex-wrap justify-center w-10/12 md:w-6/12">
    <form class="w-full md:w-8/12 bg-gray-900 p-5 rounded-lg" method="POST">
      {% csrf_token %}
      <h1 class="text-5xl text-center text-gray-100 font-medium">
        Subscription Payment
      </h1>
      <div class="my-4">
        <Label class='text-lg text-gray-200 font-bold mb-3'>
          Subscription Plan
        </Label>
        <select class="p-2 bg-gray-500 rounded-sm text-gray-200 outline-none block w-full" name="plan" id="id_plan">
          <option value="BASIC">Select Subscription Plan</option>
          <option value="BASIC">Basic - 1 Month Subscription</option>
          <option value="STANDARD">Standard - 6 Months Subscription</option>
          <option value="PREMIUM">Premium - 12 Months Subscription</option>
        </select>
      </div>
      <div class="my-4">
        <Label class='text-lg text-gray-200 font-bold mb-3'>
          Payment Method
        </Label>
        <select class="p-2 bg-gray-500 rounded-sm text-gray-200 outline-none block w-full" name="payment_method" id="id_payment_method">
          <option value="RAZORPAY">RazorPay</option>
        </select>
      </div>
      <div class="flex justify-center items-center">
        <button id="rzp-button1" class="px-4 py-2 rounded-0.375rem outline-none bg-primary_red text-gray-100 box-shadow:0 0.125rem 0.25rem rgba(0,0,0,0.1)" type="button">Pay for Subscription</button>
      </div>
    </form>
  </div>
</section>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
  var options = {
    "key": "rzp_test_1vgbviLSACKfyL",
    "currency": "INR",
    "name": "Subscription Payment",
    "description": "Pay for your Streamify subscription",
    "image": "https://example.com/logo.png",
    "prefill": {
      "name": "John Doe",
      "email": "johndoe@example.com",
      "contact": "9876543210"
    },
    "notes": {
      "order_id": "123456"
    },
    "handler": function(response) {
      // Handle the payment response
      if (response.razorpay_payment_id) {
        // Payment successful, update subscription status
        alert("Payment Successful! Subscription activated.");
        window.location.href = 'http://127.0.0.1:8000/paymentsuccess/?razorpay_payment_id=${response.razorpay_payment_id}&razorpay_order_id=${razorpay_order_id}'

      } else {
        // Payment failed, handle error
        alert("Payment Failed. Please try again.");
      }
    }
  };

  var selectedPlan = document.getElementById('id_plan').value;
  

  if (selectedPlan === 'BASIC') {
    options.amount = 10000; // 1 Month Subscription
} else if (selectedPlan === 'STANDARD') {
    options.amount = 60000; // 6 Months Subscription
} else if (selectedPlan === 'PREMIUM') {
    options.amount = 120000; // 12 Months Subscription
}

  var rzp1 = new Razorpay(options);

  document.getElementById('rzp-button1').onclick = function() {
    rzp1.open();
  };
</script>

{% endblock content %}
